* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #C7E2FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.header, .header-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-line {
    margin-top: 20px;
    width: 80%;
}
.header-menu {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}
.menu-item {
    color: rgb(100, 100, 100);
    padding: 5px;
    margin-top: 5px;
    border-radius: 2px;
}
.menu-item:hover {
    color: rgb(50, 50, 50);
    background-color: rgba(0, 0, 0, 0.08);
}
.header-mobile{
    display: none;
}
.item-img{
    height: 30px;
}
.inicio {
    height: 500px;
    width: 100vw;
    padding: 30px;
    text-align: center;
}
.title-container {
    display: flex;
    overflow: hidden;
    width: 530px;
    margin: 0 auto;
    text-align: start;
    animation: border-blink 2.5s ease-in-out infinite;
}
.title {
    text-justify: center;
    height: 38px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    animation: apresentation 15s ease-in-out;
}
.info {
    width: 440px;
    height: 230px;
    margin: 30px auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.25);
}
.info-img {
    height: 200px;
    border-radius: 5px;
}
.info-resume {
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.habilidades, .repositorios{
    width: 100vw;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habilidades{
    height: 500px;
    background-color: #a5ffeec0;
}
.habilidades-title {
    font-size: 2em;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.habilidades-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.habilidade {
    max-height: 100px;
    margin: 5px 20px;
}
.redux-container {
    display: inline-block;
    height: 100px;
    width: 100px;
}
.habilidade--redux {
    height: 65px;
}
.rtk-container {
    display: inline-block;
    width: 150px;
    height: 100px;
}
.rtk-text {
    font-size: 22px;
    font-weight: bolder;
    font-family: system-ui, sans-serif;
    color: #764ABC;
}
.habilidade--rtk {
    height: 65px;
}
.axios-container {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
}
.habilidade--axios {
    height: 75px;
    margin: 0;
    transform: rotate(-90deg);
}
.axios-text {
    font-size: 22px;
    font-weight: bolder;
    font-family: system-ui, sans-serif;
}
.repositorios{
    height: 400px;
    justify-content: space-between;
}
.repositorios-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.repositorio{
    height: 200px;
    width: 150px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.35);
}
.rep-img{
    height: 100px;
    border-radius: 5px;
}
@keyframes apresentation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes border-blink {
    0% {
        border-right: 1px solid #000;
    }
    20% {
        border-right: 1px solid rgba(255, 255, 255, 0.25);
    }
    40% {
        border-right: 1px solid #000;
    }
    60% {
        border-right: 1px solid rgba(255, 255, 255, 0.25);
    }
    80% {
        border-right: 1px solid #000;
    }
    100% {
        border-right: 1px solid rgba(255, 255, 255, 0.25);
    }
}
@media  (max-width : 650px) {
    .habilidade {
        height: 70px;
    }
    .habilidades-container {
        display: flex;
        height: 410px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .habilidade--redux, .habilidade--rtk, .habilidade--axios {
        height: 55px;
    }
    .axios-container{
        margin: 0;
    } 
}
@media (max-width : 500px) {
    .header{
        display: none;
    }
    .header-mobile{
        display: flex;
        margin: 0 auto;
    }
    .header-menu{
        width: 80vw;
        align-items: center;
        margin: 0 auto;
    }
    .inicio{
        margin-top: 20px;
        padding: 5px;
    }
    .title-container{
        position: relative;
        width: 250px;
        height: 22px;
        margin: 0 auto;
    }
    .title{
        position: absolute;
        font-size: 1.05em;
    }
    .info{
        width: 80%;
        margin-top: 50px;
        flex-direction: column;
    }
    .info-img {
        height: 135px;
    }
    .info-resume{
        margin: 0%;
        font-size: 0.8em;
    }
    .habilidades{
        height: 520px;
    }
    .habilidade {
        height: 60px;
    }
    .habilidades-title{
        font-size: 1.5em;
    }
    .habilidades-container {
        height: 450px;
    }
    .axios-container{
        margin: 0;
    } 
    .habilidade--redux, .habilidade--rtk, .habilidade--axios {
        height: 45px;
    }
    .rtk-text, .axios-text{
        font-size:1em;
    }
}