html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand', 'Segoe UI', sans-serif;
}

body,
.header,
.header-mobile,
.info,
.habilidades,
.repositorios,
.repositorio,
.projetos,
.projeto {
    display: flex;
    flex-direction: column;
}

/* #1F2526 */
body {
    background-color: #20232F;
    color: #fff;
    align-items: center;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #00c0c0;
    border-radius: 5px;
}

.header,
.header-mobile {
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: 20232F;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.336);
    align-items: center;
    background-color: #20232F;
    z-index: 1;
}

.header-line {
    margin-top: 20px;
    width: 80%;
}

.header-menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    color: #fff;
    padding: 5px;
    margin-top: 5px;
    border-radius: 2px;
    font-weight: 500;
}

.menu-item:hover {
    color: rgb(50, 50, 50);
    background-color: #19E3E6;
    cursor: pointer;
}

.header-mobile {
    display: none;
    transform-origin: bottom;
}

.hide-header-mobile {
    animation: hide ease-in-out 500ms normal;
    animation-fill-mode: forwards;
}

.show-header-mobile {
    animation: show ease-in-out 500ms normal;
    animation-fill-mode: forwards;
}

.item-img {
    height: 35px;
}

.inicio,
.habilidades,
.repositorios,
.projetos {
    min-height: 100vh;
    width: 100vw;
}

.inicio {
    padding: 30px;
    text-align: center;
}

.inicio-resume {
    font-size: 28px;
}

.apresentation {
    width: 100%;
    margin: 20px 0 60px;
}

.title {
    margin-left: 104px;
    overflow: hidden;
    white-space: nowrap;
    width: 10ch;
    font-size: 26px;
    animation: typing 4s steps(35) infinite;
    text-align: center;
}

.info {
    gap: .5rem;
    width: 86vw;
    margin: 30px auto 10px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.info-header {
    width: auto;
    animation: move 3s ease-in-out infinite;
    padding: 0 40px 20px;
}

.info-img-container {
    height: 220px;
    width: 220px;
    background-color: #19e3e6;
    border-radius: 25px;
    transform: rotate(45deg);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px #ffffff49;
}

.info-img {
    transform: rotate(-45deg) translateY(7px) translateX(6px);
    height: 240px;
    border-radius: 35%;
    margin: 5px 0;
}

.info-body {
    margin-left: 30px;
    text-align: start;
    max-width: 40%;
}

.info-title {
    font-size: 34px;
    white-space: nowrap;
}

.info-resume {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.habilidades {
    text-align: center;
    align-items: center;
}


.habilidades-title,
.repositorio-title,
.projeto-title {
    text-align: start;
    width: 100%;
    padding: 12px 24px;
    font-size: 2em;
    margin-bottom: 15px;
}

.habilidades-title {
    width: 84%;
}

.habilidades-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidade {
    width: 340px;
    height: 214px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    text-align: start;
    box-shadow: 0 0 10px #00000050;
}

.habilidade-rightside {
    width: 100px;
    display: flex;
    align-items: flex-start;
}

.habilidade-img {
    height: 150px;
}

.habilidade:hover {
    transform: scale(1.05);
}

.habilidade-img--react {
    height: 120px;
}

.habilidade-desc {
    margin-top: 20px;
    font-weight: bold;
}

.habilidade-desc:hover {
    cursor: default;
}

.habilidade--html {
    background-color: #ff3300;
}

.habilidade--css {
    background-color: #0044ff;
}

.habilidade--js {
    color: #000;
    background-color: #fbff00;
}

.habilidade--react {
    background-color: #00c0c0;
}

.habilidade--redux {
    background-color: #6135ac;
}

.habilidade--git {
    background-color: #000;
}

.repositorio-title,
.repositorio-resume,
.projeto-title,
.projeto-resume {
    margin-bottom: 15px;
}

.repositorios-container,
.projetos-container {
    width: 81vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}

.projetos-container {
    width: 87vw;
}

.repositorio-header,
.projeto-header {
    margin: 0 auto;
    width: 83.5vw;
}

.rep-title {
    text-align: center;
    padding: 10px;
}

.rep-resume,
.proj-resume {
    color: #fff;
    font-size: 0.9em;
    font-weight: 500;
}

.rep-img {
    height: 100px;
    border-radius: 5px;
}

.rep-link:hover,
.proj-link:hover {
    background-color: #764ddd;
    cursor: pointer;
}

.projeto,
.repositorio {
    height: 350px;
    width: 300px;
    margin: 5px;
    border-radius: 15px;
    gap: 10px;
    padding: 12px;
    justify-content: start;
    overflow: hidden;
    text-align: start;
    border: 2px solid darkslategray;
    background-color: transparent;
}

.repositorio {
    height: 250px;
    width: 350px;
}

.repositorie-loading {
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.repositorie-loading-item1,
.repositorie-loading-item2,
.repositorie-loading-item3 {
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation: load 2s ease-in-out infinite;
}

.repositorie-loading-item2 {
    animation-delay: 500ms;
}

.repositorie-loading-item3 {
    animation-delay: 800ms;
}


.projeto:hover,
.repositorio:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.projeto-img {
    height: 230px;
    width: 100%;
    border-radius: 15px;
}

.social {
    margin: 50px 0 0 8%;
}

.social-title {
    text-align: start;
}

.social-icons-container {
    margin-top: 15px;
    display: flex;
    gap: 25px;
}

.social-icons {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    box-shadow: 0 0 8px #00000030;
}

.social-icons:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveToLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 25ch;
    }
}

@keyframes blink {
    0% {
        border-right: 1px solid black;
    }

    100% {
        border: 0;
    }
}

@keyframes load {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes hide {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes show {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}


@media (max-width : 1024px) {

    .repositorios-container,
    .projetos-container {
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        grid-gap: 4px;
    }
}

@media (max-width : 850px) {
    ::-webkit-scrollbar {
        height: 0;
        width: 10px;
    }

    .projeto:hover,
    .repositorio:hover,
    .habilidade:hover {
        transform: scale(1);
    }

    .repositorios-container,
    .projetos-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .projetos-container {
        margin-bottom: 50px;
        gap: 5px;
    }

    .header {
        display: none;
    }

    .header-line {
        display: none;
    }

    .header-mobile {
        display: flex;
        margin: 0 auto;
        position: fixed;
        padding: 5px 0;
        bottom: -1px;
        top: auto;
        box-shadow: 2px 2px 6px #000;
    }

    .menu-item:hover {
        background-color: inherit;
    }

    .item-img {
        filter: brightness(100);
    }

    .header-menu {
        width: 80vw;
        align-items: center;
        margin: 0 auto;
    }

    .inicio,
    .habilidades,
    .repositorios,
    .projetos {
        width: 100vw;
    }

    .inicio {
        margin-top: 50px;
        padding: 10px;
    }

    .title-container {
        height: 25px;
    }

    .inicio-resume {
        font-size: 1.5em;
    }

    .title {
        margin-left: 4px;
        font-size: 1.4em;
    }

    .info {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .info-title {
        font-size: 28px;
    }

    .info-body {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    .info-img-container {
        height: 150px;
        width: 150px;
        background-color: #19e3e6;
        border-radius: 25px;
        transform: rotate(45deg);
    }

    .info-img {
        height: 165px;
        transform: rotate(-45deg) translatex(6px);
    }

    .info-title {
        margin: 8px 0;
    }

    .info-resume {
        width: 100%;
        margin: 0%;
        font-size: 1em;
    }

    .habilidades-title,
    .repositorio-title,
    .projeto-title {
        width: 100%;
        padding: 0;
        margin: 12px 0 12px 0;
        font-size: 1.5em;
    }

    .habilidades-title{
        padding: 0 40px;
    }

    .habilidades-container {
        width: 85vw;
        padding-left: 0;
        gap: 8px;
        height: 700px;
    }

    .habilidade,
    .projeto {
        width: 100%;
        height: 115px;
        padding: 10px;
        box-shadow: 0 0 6px #00000090;
    }

    .habilidade--html {
        background-color: #ff3300;
    }

    .habilidade--css {
        background-color: #0044ff;
    }

    .habilidade--js {
        color: #000;
        background-color: #fbff00;
    }

    .habilidade--react {
        background-color: #00c0c0;
    }

    .habilidade--redux {
        background-color: #6135ac;
    }

    .habilidade--git {
        background-color: #000;
    }

    .habilidade-rightside {
        width: 30px;
    }

    .habilidade-img {
        height: 65%;
    }

    .habilidade-img--react {
        height: 50px;
    }

    .habilidade-desc {
        font-size: .72rem;
        margin-top: 0;
        font-weight: bold;
    }

    .repositorio {
        height: 150px;
    }

    .rep-deps {
        font-size: 14px;
    }

    .rep-title {
        padding: 0;
    }

    .rep-resume {
        padding: 0;
    }

    .projeto {
        height: 150px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .proj-title {
        padding-bottom: 4px;
    }

    .projeto-img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
    }
}